<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StaffTraffic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/boxicons/boxicons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.datatable/datatables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/persian-datepicker/persian-datepicker.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StaffTraffic.styles.css" asp-append-version="true" />
</head>
<body id="body-pd">
        <partial name="_LoginPartial" />
    <div class="container height-100">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div id="notify" class="position-fixed bottom-0 start-0 p-3" style="z-index: 100000">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body" style="border-right: 10px solid green">
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/boxicons/boxicons.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.datatable/datatables.min.js" asp-append-version="true"></script>
    <script src="~/js/persian-datepicker/persian-date.min.js"></script>
    <script src="~/js/persian-datepicker/persian-datepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


