@using Microsoft.AspNetCore.Identity
@using StaffTraffic.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
      <header class="navbar-header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> درود @UserManager.GetUserName(User)!</div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <i class='bx bx-layer nav_logo-icon'></i>
                    <span class="nav_logo-name">مدیریت تردد</span>
                </a>
                <div class="nav_list">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav_link">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                        <span class="nav_name">تردد</span>
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">حساب کاربری</span>
                    </a>
                </div>
            </div>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link nav_btn_link"><i class='bx bx-log-out nav_icon'></i> <span class="nav_name">خروج</span> </button>
            </form>
        </nav>
    </div>
}
