@page
@model RegisterModel


<section class="text-center text-lg-start" style="height:100vh; display:flex; align-items: center;">

    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/images/login.jpg" class="w-100 rounded-4 shadow-4" style="height: 540px; object-fit: cover;"
                     alt="" />
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">ثبت نام</h2>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row mb-4">
                                <div class="col-6 form-floating mb-4">
                                    <input asp-for="Input.PersonnelCode" class="form-control" autocomplete="personnelcode" aria-required="true" />
                                    <label asp-for="Input.PersonnelCode" class="ms-2"></label>
                                    <span asp-validation-for="Input.PersonnelCode" class="text-danger"></span>
                                </div>
                                <div class="col-6 form-floating mb-4">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="ms-2"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="col-6 form-floating mb-4">
                                    <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                                    <label asp-for="Input.FirstName" class="ms-2"></label>
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-6 form-floating mb-4">
                                    <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                                    <label asp-for="Input.LastName" class="ms-2"></label>
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div class="col-6 form-floating mb-4">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.Password" class="ms-2"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-6 form-floating mb-4">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.ConfirmPassword" class="ms-2"></label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-4">ایجاد</button>
                            <p class="mb-4">
                                <a asp-area="Identity" asp-page="/Account/Login">ورود به حساب کاربری</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
